body {
  font-family: Arial, Helvetica, sans-serif;

    color: rgb(0, 30, 128);
  background-color: #def5ff }


  .banner {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 20px; /* Add some padding */
  }
  
.mainPanel {
width: 90%; /* Adjust the width as needed */
padding: 40px;
box-sizing: border-box;
float: left;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    margin-bottom: 0px;
    color: #1e3b12;
font-size: 2.5em;
}
    

      h3 {
        margin-top: 7px;

  font-family: Arial, Helvetica, sans-serif;
      text-align: center;
    font-weight: 50;
    color: #1e3b12;

  }

     .sideBar {
background-color: #4CAF50;
float: left;
padding: 0;
margin: 0;
width: 10%; /* Adjust the width as needed */
height: 100vh;
}

ul.navbar {
list-style-type: none;
padding: 0;
margin: 0;
}

ul.navbar li {
background: rgb(138, 219, 83);
margin: 0.5em 0;
padding: 0.3em;
height: 20px;
text-align: center;

font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

ul.navbar a {
text-decoration: none; /* Remove underline */
color: inherit; /* Use the default text color */
}

ul.navbar a:link,
ul.navbar a:visited {
color: inherit; /* Use the default text color for unvisited and visited links */
}

ul.navbar a:hover,
ul.navbar a:active {
color: rgb(0, 30, 128); /* Change color on hover and when active */
}

address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }